<!DOCTYPE html>
{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<html lang="en">
<style>
    <style>

    h2{
    color:rgb(0, 0, 255);
    font-size:45px;}
    p {
  border-left: 10px outset blue;
  font-size:40px;
  }
  h1{text-align:center;}
   .box{display:inline-block;
   width:220px;
   height:200px;}


</style>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background-color:rgb(240,240,240);">
<h1>Education</h1>
<img src="{% static 'images/edu.jpg' %}" alt="eduction"  width="49%" height="600px"> <img src="{% static 'images/edu1.jpg' %}" alt="eduction"  width="50%" height="600px">
<h4 title="education"></h4>
    <p style="font-size:50px">Our Foundation believes that education is universal human right and every individual including
    children is entitled to quality education. We act to ensure inclusion, dignity and equality of opportunity of all children.
    </p>
<h1>Safe Water Drinking</h1>
<img src="{% static 'images/water.jpg'%}" alt="water" width="100%">
<p>Safe Drinking water services to vengathur model villages trial run started today.<br>
    The organization has planned to provide clean drinking water services to 3 model villages in vengathur.</p>
</body>

<img src="{% static 'images/a1.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a2.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a3.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a4.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a5.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a6.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a7.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a8.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a9.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a10.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a11.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a12.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a13.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a14.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a15.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a16.jpg'%}" alt="1" width="230px" height="230px">
<img src="{% static 'images/a17.jpg'%}" alt="1" width="230px" height="230px">

{% endblock %}
</html>